iframe, div, button, p, #fotoDei, #cup { position: absolute; }
iframe{
    width: 99%;
    height: 99%;
    background-image:url("../resources/images/menus/background_lab.png") ;
    background-size: 60%;
}

h1 { position: absolute;
    font-family: arcadeFont;
    font-size: 5vw;
    left: 5%;
    top:3%;
}
h2 {
    position: relative;
    font-family: arcadeFont;
    left: 7%;
    top: 0%;
    font-size: 1.25vw;
}
h3 {
    position: relative;
    font-family: arcadeFont;
    left: 20%;
    down: 40%;
    font-size: 1vw;
}

div, #fotoDei, button {
    border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
    border-top: 6px inset rgba(255,255,255,.5);
}
div, #fotoDei { border-color: rgb(212, 64, 18); border-radius: 20px; }
#text {
    background-color: white;
    opacity: 0.7;
    top: 30%;
    left: 5%;
    width: 60%;
    height: 45%;
}
#producers{
    background-color: white;
    opacity: 0.7;
    top: 60%;
    left: 75%;
    width: 20%;
    height: 20%;
}

p {
    position: absolute;
    font-family: arcadeFont;
    text-align: justify;
    font-size: 1.5vw;
    color: black;
    left: 7%;
    top: 31%;
    width: 55%;
    height: 40%;
    padding: 7px;
    line-height: 130%;
}

#fotoDei{
    width: 15%;
    height: 22%;
    top: 30%;
    left: 75%;
}
#cup {
    width: 7%;
    height: 9%;
    top: 43%;
    left: 80%;
}

button {
    cursor: pointer;
    background-color: rgb(113, 227, 146);
    transition: background-color 0.5s, color 0.5s;
    margin: 2vw;
    height: 10%;
    width: 8%;
    top: 80%;
    left: 5%;
}
button:hover {background-color: rgb(73, 162, 105);}
#backArrow {
    height: 60%;
    width: 40%;
}

@font-face {
    font-family: arcadeFont;
    src: url("../resources/fonts/retroFont.ttf");
}