iframe{
    position: absolute;
    width: 1250px;
    height: 550px;
    background-image:url("../resources/images/menus/background_lab.png") ;
    background-size: 45%;
}

h1 {
    position: absolute; 
    font-family: arcadeFont;
    font-size: 70px;
    left: 5%;
}

button {
    cursor: pointer;
    position: absolute;
    background-color: rgb(113, 227, 146);
    transition: background-color 0.5s, color 0.5s;
    height: 70px;
    width: 70px;
    top: 80%;
    left: 5%;
    border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
}
button:hover {background-color: rgb(73, 162, 105);}
#backArrow {
    height: 55px;
    width: 55px;
}

@font-face {
    font-family: arcadeFont;
    src: url("../resources/fonts/retroFont.ttf");
}