iframe{
    position: absolute;
    width: 99%;
    height: 99%;
    background-image:url("../resources/images/menus/background_lab.png") ;
    background-size: 60%;
}
h1, h2, input { position: absolute; font-family: arcadeFont; }
h1 {
    font-family: arcadeFont;
    font-size: 5vw;
    left: 5%;
    top:3%;
}
h2 {
    font-size: 2vw;
    top: 40%;
    left:30%;
}

#playImg {
    position: absolute;
    left: 40%;
    top: 6%;
    width: 10%;
}

button {
    cursor: pointer;
    position: absolute;
    background-color: rgb(113, 227, 146);
    transition: background-color 0.5s, color 0.5s;
    font-family: arcadeFont;
    margin: 2vw;
    border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
}
button:hover {background-color: rgb(73, 162, 105);}

input {
    font-size: 1vw;
    top: 53%;
    left: 30%;
    height: 5%;
    width: 30%;
    opacity: 0.8;
}

#playImgBtn {
    height: 85%;
    width: 65%;
}

#playBtn {
    top: 48%;
    left: 60%;
    height: 10%;
    width: 8%;
}
 
#backBtn {
    height: 10%;
    width: 8%;
    top: 80%;
    left: 5%;
}

#backArrow {
    height: 60%;
    width: 40%;
}

@font-face {
    font-family: arcadeFont;
    src: url("../resources/fonts/retroFont.ttf");
}