iframe{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 600px;
    height: 600px;
    background-image:url("../resources/Designs/background_pause_menu.png") ;
    background-size: 600px;
}

/*nav*/
button {
    cursor: pointer;
    position: relative;
    transition: background-color 1s, color 1s;
    background-color: initial;
}

#resumeBtn{
    background-image: url("../resources/Designs/Resume_button.png");
}
#restartBtn{
    background-image: url("../resources/Designs/Restart_button.png");
}
#optionsBtn{
    background-image: url("../resources/Designs/Options_button.png");
}
#levelsBtn{
    background-image: url("../resources/Designs/Levels_button.png" );
}
#quitBtn{
    background-image: url("../resources/Designs/Quit_button.png");
}
#resumeBtn,#restartBtn,#optionsBtn,#levelsBtn,#quitBtn{
    border-radius: 15px;
    display: block;
    background-size: 180px;
    height:65px;
    width: 185px;
    margin: 15px;
    top:235px;
    left:635px;
}
button:hover {background-color: #006400;}

